<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" role="main">
   <div class="row">
      <div class="col-lg-8">
         <!-- minimal widget consist of .widget class. note bg-transparent - it can be any background like bg-gray,
         bg-primary, bg-white -->
         <section class="widget bg-transparent">
         <!-- .widget-body is a mostly semantic class. may be a sibling to .widget>header or .widget>footer -->
         <div class="widget-body">
            <div id="map" class="mapael">
               <div class="stats">
                  <h6 class="m-t-1">LIVE SITES</h6>
                  <p class="h3 text-warning no-margin"><!-- strong id="geo-locations-number">1 656 843</strong--> <i class="fa fa-map-marker"></i></p>
               </div>
               <div class="map">
                  <span>Alternative content for the map</span>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="col-lg-4">
      <section class="widget bg-transparent">
         <h1 class="page-title">Dashboard </h1>
         <header>
            <h5>
               Map
               <span class="fw-semi-bold">Statistics</span>
            </h5>
            <div class="widget-controls widget-controls-hover">
               <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
               <a href="#"><i class="fa fa-refresh"></i></a>
               <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
         </header>
         <div class="widget-body">
            <p>Status: <strong>Live</strong></p>
            <p>
               <span class="circle bg-warning"><i class="fa fa-map-marker"></i></span>
               146 Partners, 2759 Locations
            </p>
            <div class="row progress-stats">
               <div class="col-md-9">
                  <h6 class="name m-t-1">Survival Quality Summary</h6>
                  <p class="description deemphasize">Average survival rate for 3 years &gt; 80%</p>
                  <div class="bg-white progress-bar">
                     <progress class="progress progress-warning progress-sm js-progress-animate" value="100" max="100" style="width: 0%" data-width="75%"></progress>
                  </div>
               </div>
               <div class="col-md-3 text-xs-center">
                  <span class="status rounded rounded-lg bg-body-light">
                     <small><span id="percent-1">75</span>%</small>
                  </span>
               </div>
            </div>
            <div class="row progress-stats">
               <div class="col-md-9">
                  <h6 class="name m-t-1">Planting Schedule Tracking</h6>
                  <p class="description deemphasize">Schedule adherence of planting projects</p>
                  <div class="bg-white progress-bar">
                     <progress class="progress progress-sm progress-danger js-progress-animate" value="100" max="100" style="width: 0%" data-width="39%"></progress>
                  </div>
               </div>
               <div class="col-md-3 text-xs-center">
                  <span class="status rounded rounded-lg bg-body-light">
                     <small><span  id="percent-2">39</span>%</small>
                  </span>
               </div>
            </div>
            <div class="row progress-stats">
               <div class="col-md-9">
                  <h6 class="name m-t-1">Project Maintenance Quality</h6>
                  <p class="description deemphasize">Timeliness of watering and maintenance</p>
                  <div class="bg-white progress-bar">
                     <progress class="progress progress-sm progress-success js-progress-animate" value="100" max="100" style="width: 0%" data-width="92%"></progress>
                  </div>
               </div>
               <div class="col-md-3 text-xs-center">
                  <span class="status rounded rounded-lg bg-body-light">
                     <small><span id="percent-3">92</span>%</small>
                  </span>
               </div>
            </div>
            <p><br>
               <h5 class="fw-semi-bold mt">New Projects</h5>
               <p>Tracking: <strong>Active</strong></p>
               <p>
                  <span class="circle bg-primary"><i class="fa fa-cog"></i></span>
                  2 Projects scheduled, 3 Campaigns, 8 locations
               </p>
               <p class="description deemphasize">1 completed, 0 in progress, 1 still to start</p>
               <div class="bg-white progress-bar">
                  <progress class="progress progress-primary progress-sm js-progress-animate" value="100" max="100" style="width: 0%" data-width="32%"></progress>
               </div>
               <section class="widget">
                  <!-- .widget>header is generally a place for widget title and widget controls. see .widget in _base.scss -->
                  <header>
                     <h6>
                        SURVIVAL QUALITY METRICS
                     </h6>
                     <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                     </div>
                  </header>
                  <div class="widget-body">
                     <div class="stats-row">
                        <div class="stat-item">
                           <h6 class="name fs-sm">Average Survival</h6>
                           <p class="value"><small><span class="circle bg-warning"><i class="glyphicon glyphicon-chevron-up"></i></span></small> 79.38%</p>
                        </div>
                        <div class="stat-item">
                           <h6 class="name fs-sm">Worst Survival</h6>
                           <p class="value"><small><span class="circle bg-danger"><i class="glyphicon glyphicon-chevron-up"></i></span></small> 10.38%</p>
                        </div>
                        <div class="stat-item">
                           <h6 class="name fs-sm">Performance</h6>
                           <p class="value"><small><span class="circle bg-success"><i class="glyphicon glyphicon-chevron-up"></i></span></small> 93.38%</p>
                        </div>
                     </div>
                     <div class="bg-gray-lighter progress-bar">
                        <progress class="progress progress-xs progress-success" value="100" max="100" style="width: 60%"></progress>
                     </div>
                     <p>
                        <small><span class="circle bg-success"><i class="glyphicon glyphicon-chevron-down"></i></span></small>
                        <span class="fw-semi-bold">WEIGHTED: </span>Support volume <span class="fw-semi-bold">1% lower</span> than last month on a per-device basis
                     </p>
                  </div>
               </section>
            </div>
         </section>
      </div>
   </div>
   <!--div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
   </div-->
</main>

<!-- page specific js -->
<script src="js/dashboard.js"></script>
