<link href="css/application.min.css" rel="stylesheet">
<link href="css/aranya.css" rel="stylesheet">

<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
      Campaigns
   </li>
</ol>
<h1 class="page-title ng-scope">Locations -&nbsp;
   <small><small id="sub-heading">Monitoring and Management</small></small>
</h1>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li onClick="addLocation();">&nbsp;Add Location</li>
                     <li class="divider"></li>
                     <li>&nbsp;Refresh</li>
                  </ul>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="site-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Location name</th>
                        <th>Partner name</th>
                        <th>Located at</th>
                        <th>Trees</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="sites-data">
               </table>
            </div>
         </div>
      </section>
   </div>
</div>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Location Details : <small id="locName">Location Name</small></h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="location-details-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Tree Species</th>
                        <th>Common Name</th>
                        <th>Soil Type</th>
                        <th>Planted</th>
                        <th>Survived</th>
                     </tr>
                  </thead>
                  <tbody id="location-details">
               </table>
            </div>
         </div>
      </section>
   </div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/soils.js"></script>
<script src="js/species.js"></script>
<script src="js/locations.js"></script>
<script src="js/location.js"></script>
