<link href="css/application.min.css" rel="stylesheet">
<link href="css/vriksha.css" rel="stylesheet">
<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
      Partners
   </li>
</ol>
<h1 class="page-title ng-scope">Partners -&nbsp;
   <small><small>On-boarding and Management</small></small>
</h1>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
                  <ul class="dropdown-menu dropdown-menu-right">
                     <li onClick="addPartner();">&nbsp;Add Partner</li>
                     <li class="divider"></li>
                     <li>&nbsp;Refresh</li>
                  </ul>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="client-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Partner name</th>
                        <th>Located at</th>
                        <th class="text-center">Campaigns</th>
                        <th class="text-center">Locations</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="partner-list">
                     <tr onClick="setPartner(1, 'Save Aravali Trust', 2, 7);">
                        <td>1</td>
                        <td>Save Aravali Trust <span class="label label-warning text-gray-dark">In Discussion</span></td>
                        <td>Bangalore, KA</td>
                        <td class="text-center">
                           <a id="c1" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">2</a>
                        </td>
                        <td class="text-center">
                           <a id="l1" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">7</a>
                        </td>
                        <td>Survey/evaluation requested at 2 locations</td>
                     </tr>
                     <tr onClick="setPartner(2, 'VENHF', 1, 3);">
                        <td>2</td>
                        <td>VENHF <span class="label label-success text-gray-dark">New</span></td>
                        <td>Bangalore, KA</td>
                        <td class='text-align-center'>
                           <a id="c2" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1</a>
                        </td>
                        <td class='text-align-center'>
                           <a id="l2" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">3</a>
                        </td>
                        <td>Scheduled for planting on 07/09/2017</td>
                     </tr>
                     <tr class="alert alert-danger" onClick="setPartner(3, 'Forest First Samiti', 5, 11);">
                        <td>3</td>
                        <td>Forest First Samiti</td>
                        <td>Bangalore, KA</td>
                        <td class='text-align-center'>
                           <span class="label label-danger text-gray-dark">
                              <a id="c3" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 3/5
                              </a>
                           </span>
                        </td>
                        <td class='text-align-center'>
                           <span class="label label-danger text-gray-dark">
                              <a id="l3" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 7/11
                              </a>
                           </span>
                        </td>
                        <td>Attention required at location(s) Chikbellapur, Bellandur</td>
                     </tr>
                     <tr class="alert alert-danger" onClick="setPartner(4, 'Satpuda Foundation', 2, 3);">
                        <td>4</td>
                        <td>Satpuda Foundation</td>
                        <td>Amravati, MA</td>
                        <td class='text-align-center'>
                           <span class="label label-danger text-gray-dark">
                              <a href="#" id="c4" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 1/2
                           </span>
                        </td>
                        <td class='text-align-center'>
                           <span class="label label-danger text-gray-dark">
                              <a id="l4" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">
                                 2/3
                              </a>
                           </span>
                        </td>
                        <td>Project deadline approaching for Kanha Buffer Project</td>
                     </tr>
                     <tr onClick="setPartner(5, 'ATREE', 1, 5);">
                        <td>5</td>
                        <td>ATREE</td>
                        <td>Bangalore, KA</td>
                        <td class='text-align-center'>
                           <a id="c5" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1/1</a>
                        </td>
                        <td class='text-align-center'>
                           <a id="l5" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">5/5</a>
                        </td>
                        <td>Severe water deficiency reported in Location(s) Dargeeling, Sikkim</td>
                     </tr>
                     <tr onClick="setPartner(6, ' Centre for Science and Environment', 3, 8);">
                        <td>6</td>
                        <td>Centre for Science and Environment</td>
                        <td>New Delhi, NCR</td>
                        <td class='text-align-center'>
                           <a id="c6" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">3/3</a>
                        </td>
                        <td class='text-align-center'>
                           <a id="l6" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">8/8</a>
                        </td>
                        <td>Last actionable event reported 11 days ago.</td>
                     </tr>
                     <tr onClick="setPartner(7, 'ANERT', 1, 4);">
                        <td>7</td>
                        <td>ANERT</td>
                        <td>Thiruvanthapuram, KE</td>
                        <td class='text-align-center'>
                           <a id="c7" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">1/1</a>
                        </td>
                        <td class='text-align-center'>
                           <a id="l7" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">4/4</a>
                        </td>
                        <td>Last actionable event reported 13 days ago.</td>
                     </tr>
                     <tr onClick="setPartner(8, 'Bangalore Mahanagara Palike', 2, 9);">
                        <td>8</td>
                        <td>Bangalore Mahanagara Palike</td>
                        <td>Bangalore, KA</td>
                        <td class='text-align-center'>
                           <a id="c8" href="#" data-ajax-load="campaigns.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">2/2</a>
                        </td>
                        <td class='text-align-center'>
                           <a id="l8" href="#" data-ajax-load="locations.html" data-ajax-target="#content" data-loading-text="<i class='fa fa-refresh fa-spin mr-xs'></i> Loading...">9/9</a>
                        </td>
                        <td>Last actionable event reported 16 days ago.</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </section>
   </div>
</div>
<div class="row ng-scope">
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4>Partner Details</h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div id="client_works" class="panel-group mb-lg" data-toggle="collapse">
               <div class="panel panel-default">
                  <div class="panel-heading collapsed">
                     <h5 class="panel-title">
                        <a class="" data-toggle="collapse" data-parent="#client_works" data-target="#w1" aria-expanded="true" style="">Contact Address
                           <i class="fa fa-angle-down pull-right"></i>
                        </a>
                     </h5>
                  </div>
                  <div id="w1" class="panel-collapse collapse in" aria-expanded="true" style="">
                     <div class="panel-body">
                        <form class="form-horizontal ng-pristine ng-valid" role='form'>
                           <fieldset>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add1">Address 1</label>
                                 <div class="col-sm-8">
                                    <input id="add1" class='form-control' placeholder='Address line 1' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="add2">Address 2</label>
                                 <div class="col-sm-8">
                                    <input id="add2" class='form-control' placeholder='Address line 2' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">City</label>
                                 <div class="col-sm-8">
                                    <input id="city" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div><br><br>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="state">State</label>
                                 <div class="col-sm-2">
                                    <input id="state" class='form-control' placeholder='' type='text'>
                                 </div>
                                 <div class="col-sm-1">&nbsp;</div>
                                 <label class="col-sm-2 control-label" for="zip">Zip</label>
                                 <div class="col-sm-3">
                                    <input id="zip" class='form-control' placeholder='' type='text'>
                                 </div>
                              </div>
                           </fieldset>
                           <div class='form-actions'>
                              <div class='row'>
                                 <div class='col-sm-offset-3 col-sm-7'>
                                    <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class='btn btn-inverse' type='button'>Cancel</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#client_works" data-target="#w2" aria-expanded="false">Campaign & Locations Details
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                     <table id='client_summary' class='table table-hover'>
                        <thead>
                           <tr>
                              <th>Description</th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr><td><a href='#' onClick='showCampaigns();'>Operational campaigns</a></td><td>5</td></tr>
                           <tr><td><a href='#' onClick='showLocations();'>Operational locations</a></td><td>14</td></tr>
                           <tr><td>Campaigns in Progress</td><td>0</td></tr>
                           <tr><td>Planting Locations scheduled</td><td>2</td></tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading collapsed">
                  <h5 class="panel-title">
                     <a class="collapsed" data-toggle="collapse" data-parent="#client_works" data-target="#w3" aria-expanded="false">Objectives/Terms of Engagement
                        <i class="fa fa-angle-down pull-right"></i>
                     </a>
                  </h5>
               </div>
               <div id="w3" class="panel-collapse collapse" aria-expanded="true" style="height: 0px;">
                  <div class="panel-body">
                     <form class='form-horizontal ng-pristine ng-valid' role='form'>
                        <fieldset>
                           <legend><strong>Objectives </strong>Summary</legend>
                           <table id='contract_summary' class='table table-hover'>
                              <thead>
                                 <tr>
                                    <th>Evaluation metric</th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Average Campaign Period (years)</td>
                                    <td>
                                       <input class='form-control' type='text' value='2.5' maxlength='4' size='4'>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Minimum survival rate (1 year)</td>
                                    <td>
                                       <input class='form-control' type='text' value='99%' maxlength='4' size='4'>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Minimum survival rate (3 year)</td>
                                    <td>
                                       <input class='form-control' type='text' value='97.5%' maxlength='4' size='4'>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </fieldset>
                        <div class='form-actions'>
                           <div class='row'>
                              <div class='col-sm-offset-3 col-sm-7'>
                                 <button class='btn btn-primary' type='submit'>Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <button class='btn btn-inverse' type='button'>Cancel</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
   <div class="col-md-6">
      <section class="widget">
         <header>
            <h4 id="pnl2_hdr">Location</h4>
         </header>
         <div class="widget-body">
            <div id="tcgmap" style="visibility: hidden"></div>
         </div>
      </section>
   </div>
</div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/partners.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiXy9f7DDXpK9FfYc8NA2s8ru9jvfKukg&callback=initGMap"></script>
