<link href="css/vriksha.css" rel="stylesheet">

<main id="content" class="content" role="main">
   <div class="row">
      <div class="col-lg-11">
         <section class="widget widget-invoice">
            <header>
               <div class="row">
                  <div class="col-md-6 col-print-6">
                     <img src="img/logo/thebreathingtree_logo.png" alt="Logo" class="invoice-logo"/>
                  </div>
                  <div class="col-md-6 col-print-6">
                     <h4 class="text-xs-right">
                        #<span class="fw-semi-bold">95613</span> / <small>17 Aug 2017</small>
                     </h4>
                     <div class="text-muted fs-larger text-xs-right">
                        NGO Registration# 104930
                     </div>
                  </div>
               </div>
            </header>
            <div class="widget-body">
               <div class="row mb-lg">
                  <section class="col-md-6 col-print-6">
                     <h5 class="text-muted no-margin">Organization Information</h5>
                     <h3 class="company-name m-t-1">
                        The Aranya Project
                     </h3>
                     <address>
                        <strong>329 IVth Block, 6th Main Road</strong><br>
                        Rajajinagar, Bangalore 560 010<br>
                        +91 888 209 0483<br>
                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">seshadri@aranyaproject.com</a><br>
                        <abbr title="Work Phone">phone:</abbr> +91 94482 59194<br>
                        <abbr title="Work Fax">fax:</abbr> +91 208 460 5122
                     </address>
                  </section>
                  <section class="col-md-6 col-print-6 text-xs-right">
                     <h5 class="text-muted no-margin">Partner Information</h5>
                     <h3 class="client-name m-t-1">
                        Forest First Samiti
                     </h3>
                     <address>
                        <strong>Consultant</strong>: Sujeet Kumar<br>
                        <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna@allspana.in</a><br>
                        <abbr title="Work Phone">phone:</abbr> +91 34567 89013<br>
                        <abbr title="Work Fax">fax:</abbr> +91 67813 29017
                        <p class="no-margin"><strong>Note:</strong></p>
                        <p class="text-muted">This is a mid-project report, and will be updated at the end of the month.</p>
                     </address>
                  </section>
               </div>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Campaign name</th>
                        <th class="hidden-sm-down">Description</th>
                        <th>Quantity</th>
                        <th class="hidden-sm-down">Fee per Tree</th>
                        <th>Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <th scope="row">1</th>
                        <td>BMP 2017</td>
                        <td class="hidden-sm-down">Urban reforestation project, Bangalore, FY 2017</td>
                        <td>2000</td>
                        <td class="hidden-sm-down">1150</td>
                        <td>23,00,000</td>
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>BMP 2016</td>
                        <td class="hidden-sm-down">Tree maintainence, watering, trimming</td>
                        <td>1929</td>
                        <td class="hidden-sm-down">170</td>
                        <td>3,27,930</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>YGR 2015</td>
                        <td class="hidden-sm-down">Maintenance (2nd year) for Yelandur Regreening</td>
                        <td>213</td>
                        <td class="hidden-sm-down">110</td>
                        <td>23,430</td>
                     </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>IISC 2014</td>
                        <td class="hidden-sm-down">Maintenance (3rd Year) for IISc Regreening Project</td>
                        <td>181</td>
                        <td class="hidden-sm-down">90</td>
                        <td>16,290</td>
                     </tr>
                  </tbody>
               </table>
               <div class="row">
                  <div class="col-md-8 col-print-6">
                     <p>
                        <strong>Note:</strong>
                        Thank you for supporting the environmental movement in India, and the Aranya Project.
                     </p>
                  </div>
                  <div class="col-md-4 col-print-6">
                     <div class="row text-xs-right">
                        <div class="col-xs-6"></div> <!-- instead of offset -->
                        <div class="col-xs-3">
                           <p>Subtotal</p>
                           <p>GST(10%)</p>
                           <p class="no-margin"><strong>Total</strong></p>
                        </div>
                        <div class="col-xs-3">
                           <p>26,67,650</p>
                           <p>2,66,765</p>
                           <p class="no-margin"><strong>29,34,415</strong></p>
                        </div>
                     </div>
                  </div>
               </div>
               <p class="text-xs-right mt-lg mb-xs">
                  Aranya Consultant
               </p>
               <p class="text-xs-right">
                  <span class="fw-semi-bold">Ramaswamy Seshadri</span>
               </p>
               <div class="btn-toolbar mt-lg hidden-print print-buttons">
                  <button id="print" class="btn btn-inverse">
                     <i class="fa fa-print"></i>
                     &nbsp;&nbsp;
                     Print
                  </button>
                  <!--button class="btn btn-danger">
                     Proceed with Payment
                     &nbsp;
                     <span class="circle bg-white">
                        <i class="fa fa-arrow-right text-danger"></i>
                     </span>
                  </button-->
               </div>
            </div>
         </section>
      </div>
   </div>
</main>

<!-- page specific js -->
<script src="js/invoice.js"></script>
