<link href="css/application.min.css" rel="stylesheet">
<link href="css/aranya.css" rel="stylesheet">

<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
<!--[if IE 9]>
   <link href="css/application-ie9-part2.css" rel="stylesheet">
<![endif]-->
<!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
<main class="content" class="content view-animate fade-up ng-scope" role="main" data-ui-view="" style="">
<ol class="breadcrumb ng-scope">
   <li>Home</li>
   <li class="active">
    Trees 
   </li>
</ol>
<h1 class="page-title ng-scope">Trees -&nbsp;
   <small><small id="sub-heading">Maintenance and Management</small></small>
</h1>
<br>
<div class="row ng-scope h-scroll">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Monitoring Dashboard</h4>
            <div class="widget-controls">
               <a href="#">
                  <i class="glyphicon glyphicon-cog"></i>
               </a>
            </div>
         </header>
         <div class="widget-body">
            <div class="table-responsive">
               <table id="site-table" class="table table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Unique Id</th>
                        <th>Botanical Name</th>
                        <th>Common Name</th>
                        <th>Location</th>
                        <th>Campaign</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody id="sites-data">
               </table>
            </div>
         </div>
      </section>
   </div>
</div>
<br>
<div class="row ng-scope">
   <div class="col-md-12">
      <section class="widget">
         <header>
            <h4>Tree Details : <small id="treeId">Campaign Name</small></h4>
            <div class="widget-controls">
               <div class="dropdown">
                  <i class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown"></i>
               </div>
            </div>
         </header>
         <div class="widget-body">
            <div class="row">
               <div class="col-md-6">
                  <form class="form-vertical ng-pristine ng-valid" role='form'>
                     <table class="table">
                        <tr>
                           <td><label class="control-label" for="campaignName">Campaign Name </label></td>
                           <td>
                           <select id="campaignName" class="selectpicker" data-selectpicker="" data-style="btn-default" data-width="auto" tabindex="-98">
                              <option value="0">Green Bangalore 2017</option>
                              <option value="1">Green Bangalore 2016</option>
                              <option value="2">Green Bangalore 2015</option>
                           </select>
                        </td>
                        </tr>
                        <tr>
                           <td><label class="control-label" for="treeSpecies">Tree Species </label></td>
                           <td>
                           <select id="treeSpecies" class="selectpicker" data-selectpicker="" data-style="btn-default" data-width="auto" tabindex="-98">
                              <option value="0">Acacia Arabica (Babul)</option>
                              <option value="1">Acacia Consinna (Seekakai)</option>
                              <option value="2">Acacia Dealbetta (Dealbetta)</option>
                              <option value="3">Ailanthus Excelsa (Mahavriksha)</option>
                              <option value="4">Albizzia Richardiana (Elephant Tree)</option>
                              <option value="5">Azadirachta Indica (Neem)</option>
                           </select>
                        </td>
                        </tr>
                        <tr>
                           <td><label class="control-label" for="treeLongitude">Location Longitude  </label></td>
                           <td><input id="treeLongitude" class='form-control' placeholder='' type='text'></td>
                        </tr>
                        <tr>
                           <td><label class="control-label" for="treeLatitude">Location Latitude </label></td>
                           <td><input id="treeLatitude" class='form-control' placeholder='' type='text'></td>
                        </tr>
                     </table>
                  </form>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div id="treeImage" class="carousel slide" data-ride="carousel" data-interval="false" visibility="hidden">
                        <div id="treeImageList" class="carousel-inner">
                           <!--div class="carousel-item active">
                              <img class="d-block w-100" src="img/tree/1.jpg" alt="Slide 1"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/2.jpg" alt="Slide 2"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/3.jpg" alt="Slide 3"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/4.jpg" alt="Slide 4"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/5.jpg" alt="Slide 5"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/6.jpg" alt="Slide 6"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/7.jpg" alt="Slide 7"/>
                           </div>
                           <div class="carousel-item">
                              <img class="d-block w-100" src="img/tree/8.jpg" alt="Slide 8"/>
                           </div-->
                        </div>
                     </div>
                     <a class="carousel-control left" href="#treeImage" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" onClick="showPrevImageInTreeCarousel()"></span>
                     </a>
                     <a class="carousel-control right" href="#treeImage" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" onClick="showNextImageInTreeCarousel();"></span>
                     </a>
                  </div>
                  <br>
                  <div class="row">
                     <label class="control-label" id="treeCaption" for="treeImage">Placeholder caption</label>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
</main>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
   <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- page specific js -->
<script src="js/soils.js"></script>
<script src="js/species.js"></script>
<script src="js/locations.js"></script>
<script src="js/trees.js"></script>
<script src="vendor/bootstrap/js/dist/carousel.js"></script>
