<a class="list-group-item bg-warning-light" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="demo/img/people/a2.jpg" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-xs-right">10 sec ago</time>
    <h5 class="no-margin fw-bold mb-xs">Chris Gray [ABC Corp]</h5>
    <p class="deemphasize text-ellipsis no-margin">Not able to schedule since yesterday...</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="img/avatar.png" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-xs-right">2 min ago</time>
    <h5 class="no-margin mb-xs">Jamey Brownlow [Brickell Inc.]</h5>
    <p class="deemphasize text-ellipsis no-margin">Had a power outage, and the display is blank...</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="demo/img/people/a1.jpg" alt="...">
        <i class="status status-bottom bg-warning"></i>
    </span>
    <time class="text-link help pull-xs-right">9 min ago</time>
    <h5 class="no-margin mb-xs">Livia Walsh [TC Foods]</h5>
    <p class="deemphasize text-ellipsis no-margin">Projector is dim</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="img/avatar.png" alt="...">
        <i class="status status-bottom bg-danger"></i>
    </span>
    <time class="text-link help pull-xs-right">12:56 AM</time>
    <h5 class="no-margin mb-xs">Jaron Fitzroy [Aeropuerto Mexico]</h5>
    <p class="deemphasize text-ellipsis no-margin">Center display is not working..?</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="demo/img/people/a4.jpg" alt="...">
        <i class="status status-bottom bg-gray-light"></i>
    </span>
    <time class="text-link help pull-xs-right">Yesterday</time>
    <h5 class="no-margin mb-xs">Mike Lewis [Kun Cadillac, MO]</h5>
    <p class="deemphasize text-ellipsis no-margin">Recovering from a network issue, and all displays are off...</p>
</a>
<a class="list-group-item" href="#">
    <span class="thumb-sm pull-xs-left mr">
        <img class="img-circle" src="demo/img/people/a6.jpg" alt="...">
        <i class="status status-bottom bg-success"></i>
    </span>
    <time class="text-link help pull-xs-right">Apr 23</time>
    <h5 class="no-margin mb-xs">Freda Edison  [Chester Nissan, SC]</h5>
    <p class="deemphasize text-ellipsis no-margin">Uploaded new content - not showing up on display.</p>
</a>